@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center col-12 m-auto mb-4">
    <h1 class="display-4 fw-bold">Book List Site</h1>
    <hr />

    <a class="btn btn-lg btn-primary mb-4" asp-area="" asp-page="/GerenciamentoLista/Adicionar" autofocus="true">Adicionar Livro</a>

    <form class="input-group w-50 m-auto" method="post" asp-page-handler="PesquisarTitulo">
        <input class="form-control" type="text" placeholder="Titulo do livro" id="ipt-pesquisa" asp-for="@Model.TituloPesquisa" value=""/>
        <button class="btn btn-secondary" type="submit">Pesquisar</button>
    </form>
</div>


<div class="card text-center col-12 m-auto">
    <h6 class="card-header card-title">Lista Atual @(!string.IsNullOrEmpty(Model.TituloPesquisa) ? $" - Resultados para '{@Model.TituloPesquisa}'" : "")</h6>

    <div class="card-body">
        @if (Model.LivrosLista.Count != 0)
        {
            <table class="table table-striped w-100">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ISBN</th>
                        <th>TITULO</th>
                        <th>AUTOR</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var livro in Model.LivrosLista)
                    {
                        <tr>
                            <th>@livro.Id</th>
                            <td>@livro.Isbn</td>
                            <td>@livro.Titulo</td>
                            <td>@livro.Autor</td>
                            <td><a class="btn btn-sm btn-outline-danger w-100" onclick="return confirm('Tem certeza que deseja deletar o livro?')" asp-page-handler="Deletar" asp-route-id="@livro.Id">Deletar</a></td> <!--Sets id to site route-->
                            <td><a class="btn btn-sm btn-primary w-100" asp-area="" asp-page="/GerenciamentoLista/Alterar" asp-route-id="@livro.Id" >Alterar</a></td>                        
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>@(string.IsNullOrEmpty(Model.TituloPesquisa) ? "Não há livros cadastrados :/" : "Zero resultados encontrados :/")</p>
        }
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        if ("@Model.TituloPesquisa" != "") {
            document.getElementById("ipt-pesquisa").focus();
        }
    </script>
}